/* src/components/Chat.css */
.chat-window {
    background-color: #4d4f50;
    color: white;
    border: 1px solid #495057;
    border-radius: 0.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .chat-mensagens {
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
  }
  
  .chat-msg.enviada {
    text-align: right;
  }
  
  .chat-msg.recebida {
    text-align: left;
  }
  