/* src/components/Chat.css */
.chat-window {
    background-color: #605D57;
    color: white;
    border-radius: 0.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .chat-mensagens {
    background-color: whitesmoke;
    border-radius: 5px;
    overflow-y: auto;
  }
  
  .chat-msg.enviada {
    color: black;
    text-align: right;
  }
  
  .chat-msg.recebida {
    text-align: left;
  }
  